<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible'>
    <title></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design for Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/css/mdb.min.css" rel="stylesheet">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        .mycustom-jumbotron{
            width: 300px;
            margin-top: 180px;
            margin-left: 40%;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="jumbotron mycustom-jumbotron" align=center style="border-radius:50px 50px 50px 50px;">
        <form method="POST">
            <b><h2>UMARK LABS</h2></b>
            <b><h6>username</h6></b>
            <input name="user" type="text"><br/>
            <b><h6>password</h6></b>
            <input name="paswd" type="password"><br/>
            <input type="submit" value="login">
        </form>
    </div>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- Material Design for Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.16/js/mdb.min.js"></script>

    <script>
      new WOW().init();
    </script>
</body>
</html>